.menus {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.menus a{
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-right: 30px;
  text-decoration: none;

  transition-duration: 0.5s;
}

.menus a:hover, .menus a:focus, .menus a:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


@media only screen and (max-width: 900px){
  .menus a{
    font-size: 20px;
    font-weight: 350;
    margin-right: 20px;
  }
}

