.skills{
  padding: 15px;
}

.skillsSection {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.skillType {
  font-size: large;
  font-weight: 500;
  color: black;
}

.skillList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
}

@media only screen and (max-width: 720px){

  .skillList{
    max-width: 100%;
  }
  .skillsSection{
    flex-direction: column;
    justify-content: center;
  }
}

