.project{
  display: flex;
  flex-direction: row;
  margin: 15px;
  flex:1;
  text-align: start;
  justify-content: space-between;
}
.projectInfo {
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  margin-right: 5%;
  width: 60%;
}
.title{
  font-size: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);

}
 .description{
   max-width: 90%;
   font-family: serif;
 }
.links{
  cursor: pointer;
  margin-bottom: 2%;
}

.links a {
 
  display: flex;
  text-align: center;
  text-decoration: none;  
}
 .links a img {
   height: 20px;
   width: 20px;
   margin-right: 5px;
 }
 .links a div {
  color:rgb(56, 155, 255);
  font-weight: 500;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.tag {
  background-color: rgb(0, 161, 161);
  padding: 4px 8px;
  border-radius: 5px;
  margin-bottom: 4px;
  color: white;
  margin-right: 6px;
}

.projectImage{
  width: 30vmax;
  height: 35vh;
}

.button {
  max-width: 100px;
  height: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 720px){
  .project{ 
    flex-direction: column-reverse;
  }
  .projectInfo{
    align-items: center;
    margin-right: 0px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
  }

  .description{
    max-width: 100%;
    
  }
  .projectImage{
    align-self: center;
    width: 60%;
    height: 50%;
  }
  .tags{
    max-width: 100%;
  }
}