.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 200;
  top: 0;
  margin-top: 2%;
  height: 80px;
  width: 100%;
  background-color:floralwhite ;
  align-items: center;

}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 10%;
}

.menuIcon {
  cursor: pointer;
  transition-duration: .5s;
}
.menuIcon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.mobileMenu{
  display: none;
}

.webMenu{
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  padding-left: 10%;
}

.footer {
  
}

@media only screen and (max-width: 720px){
  .header{
    height: 80px;
  }
  .webMenu{
    display: none;
  }
  .mobileMenu{
    display: flex;
  }
  .logo{
    font-size: 25px;
    font-weight: 700;
  }
}




