.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
  background-color: rgb(214, 214, 214);
  padding-top: 30px;
}

.contactMe{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(107, 107, 107);
  margin-left: 40%;

}
.contactMe label {
  font-size: 25px;
  color: black;
}
.contactMe a{
  text-decoration: none;
  color:darkcyan;
}

.social {
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social label {
  color:rgb(87, 87, 87);
  font-weight: 150;
  font-size: 15px;
}

.socialLinks{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.link{
  padding-right: 15px;
  /* margin-right: 12%; */
  cursor: pointer;
}


@media only screen and (max-width: 1000px){
  .contactMe{
    margin-left: 35%;
  }
  .social{
    padding-right: 10%; 
  }
  .socialLinks{
    font-size: 30px;
  }
}

@media only screen and (max-width: 720px){
  .footer{
    flex-direction: column;
    justify-content: center;
  }
  .contactMe{
    margin-left: 0%;
  }
  .social{
    padding-right: 0px; 
    align-items: center;
    margin-right: 0%;
    margin-bottom: 3%;
  }
}
