.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(214, 214, 214);
  padding-top: 4%;
}

.contactMe{
  display: flex;
  flex-direction: column;
  color: rgb(107, 107, 107);
  justify-content: space-between;
  margin-left: 40%;

}
.contactMe label {
  font-size: 25px;
  color: black;
}



.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
}

.socialLinks{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.link{
  margin-right: 10%;
  cursor: pointer;
}

@media only screen and (max-width: 720px){
  .footer{
    flex-direction: column;
  }
  .contactMe{
    margin-left: 0%;
  }
}