.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(223, 222, 222);
  padding: 3%;
}

.about p {
  display: flex;
  text-align: start;
  color: rgb(26, 26, 26);
  font-family: 'Nunito', sans-serif;  
  font-size: 20px;
}

.myPhotoDiv { 
  display: flex;
  align-items: center;
}

.socialLinks{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.link{
  align-self: center;
  margin-right: 10%;
}

.myPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;

  border: 1px;
  border-style: none;
  border-radius: 50%;
}

@media only screen and (max-width: 720px){
  .myPhoto{
    height: 250px;
    width: 210px;
    padding: 15px;
  }
}

@media only screen and (max-width: 510px){
  .myPhoto{
    height: 150px;
    width: 120px;
    padding: 15px;
  }
}